@use "@styles/_theme.module.scss" as Theme;

.attention-getter-image {
  flex-direction: column;
  img {
    box-shadow: none;
    cursor: auto;
    &:hover {
      transform: none;
      scale: none;
    }
    &:active {
      transform: none;
    }
  }
}

//.puppy-culture {
//  display: block;
//  margin: 0 auto;
//  width: 100%;
//}
//@media screen and (max-width: 768px) {
//  .puppy-culture {
//    height: auto;
//    max-width: 400px;
//  }
//}
