@use "@styles/mixins.scss" as Mixins;
@use "@styles/theme.module.scss" as Theme;

.currentLitter {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: Theme.$spaceBetweenElements;
  margin-top: Theme.$spaceBetweenElements;
}
