@use "@styles/mixins.scss" as Mixins;
@use "@styles/theme.module.scss" as Theme;

.puppy-culture {
  display: block;
  margin: Theme.$spaceBetweenElements auto;
  width: 100%;
}
@media screen and (max-width: 768px) {
  .puppy-culture {
    height: auto;
    max-width: 400px;
  }
}

.attention-getter-image{
  border-radius: 100%;
}
