@use "@styles/_theme.module.scss" as Theme;

.puppy-culture {
  display: block;
  margin: Theme.$spaceBetweenElements auto;
  width: 100%;
}
@media screen and (max-width: 768px) {
  .puppy-culture {
    height: auto;
    max-width: 400px;
  }
}

.attention-getter-image{
  border-radius: 100%;
}

.button {
  font-size: 2rem;
  display: block;
  margin: Theme.$spaceBetweenElements auto;
  transition: all #{Theme.$transitionShort}s;
  @include Theme.basicButton($bg: Theme.$white, $fg: Theme.$primary);
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}
