@use "@styles/_theme.module.scss" as Theme;

.adoptionBanner {
  width: 100%;
  height: auto;
  // Configure most rules from this class
  button.eventHandlerDiv,
  .closed-content {
    font: inherit;
    overflow: hidden;
    border: none;
    width: 100%;
    cursor: pointer;
    padding: Theme.$spaceBetweenElements;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: Theme.$white;
    .buttonText {
      color: Theme.$black;
      text-align: center;
      font-size: 6.4rem;
      text-decoration: none;
      @include Theme.mediaQuery(Theme.$tabletViewport) {
        font-size: 4rem;
      }
      @include Theme.mediaQuery(Theme.$LgPhoneViewport) {
        font-size: 1.8rem;
        padding: Theme.$spaceBetweenElements / 8;
      }

      @include Theme.mediaQuery(Theme.$SmPhoneViewport) {
        font-size: 1.5rem;
      }
    }
    svg.doodlePuppy {
      $dimensions: 45%;
      height: $dimensions;
      width: $dimensions;
    }
  }
  .closed-content {
    box-shadow: none;
  }
  @include Theme.mediaQuery(Theme.$microViewport) {
    .eventHandlerDiv {
      overflow: clip;
      .buttonText {
        line-break: anywhere;
      }
    }
    svg.doodlePuppy {
      display: none;
    }
  }
}
