@use "../styles/theme.module.scss" as Theme;
@use "../styles/mixins.scss" as Mixins;

.adoptionBanner {
  a {
    color: Theme.$darkSecondaryGreen;
    &:hover {
      text-decoration: none;
    }
  }
  // Configure most rules from this class
  div.eventHandlerDiv {
    background-color: Theme.$lightSecondaryGreen;
    border-radius: calc(Theme.$buttonRadius + 10px);
    width: fit-content;
    cursor: pointer;
    padding: Theme.$spaceBetweenElements;
    display: flex;
    align-items: center;
    justify-content: center;
    div.buttonText {
      text-align: center;
      font-size: 3.4rem;
      text-decoration: none;
    }
    div.snaps {
      opacity: 0;
      position: absolute;
      height: 0;
      width: 100%;
      top: 0;
      svg.snapLeft,
      svg.snapRight {
        position: absolute;
        $dimensions: 35px;
        height: $dimensions;
        width: $dimensions;
        bottom: 0px;
      }
      svg.snapRight {
        right: 100%;
      }
      svg.snapLeft {
        left: 100%;
      }
    }
    svg.doodlePuppy {
      $dimensions: 100px;
      position: relative;
      height: $dimensions;
      width: $dimensions;
      margin-right: Theme.$spaceBetweenElements;
    }
  }
}

@include Mixins.mediaQuery(Theme.$tabletViewport) {
  .adoptionBanner {
    div.eventHandlerDiv {
      font-size: 2.5rem;
    }
  }
}

@include Mixins.mediaQuery(Theme.$LgPhoneViewport) {
  .adoptionBanner {
    div.eventHandlerDiv {
      div.buttonText {
        font-size: 1.8rem;
        padding: Theme.$spaceBetweenElements / 8;
      }
    }
    svg.doodlePuppy {
      display: none;
    }
  }
}

@include Mixins.mediaQuery(Theme.$microViewport) {
  .adoptionBanner {
    div.eventHandlerDiv {
      overflow: clip;
      div.buttonText {
        line-break: anywhere;
      }
    }
  }
}
