@use "@styles/_theme.module.scss" as Theme;

div.container {
  display: flex;
  align-items: center;
  gap: Theme.$spaceBetweenElements;
  flex-wrap: wrap;
  @include Theme.mediaQuery(Theme.$tabletViewport) {
    flex-direction: column;
  }
}

.side-text {
  flex: 2;
  @include Theme.mediaQuery(Theme.$tabletViewport) {
    flex: 1;
  }
}

.link {
  flex: 1;
  border-radius: 100%;
  margin-bottom: Theme.$spaceBetweenElements;
}

.image {
  flex: 1;
  margin: Theme.$spaceBetweenElements 0;
  padding: Theme.$imgPad;
  border-radius: 100%;
  transition-property: scale, box-shadow;
  outline: Theme.$momOutline;
  outline-offset: -1px;
  @include Theme.imageHover(Theme.$darkHeadshot, Theme.$lightHeadshot);
  transition-duration: #{Theme.$transitionShort}s;
  @include Theme.mediaQuery(Theme.$tabletViewport) {
    width: 90vw;
    height: auto;
    max-width: Theme.$Headshots_Sm;
  }
  @include Theme.mediaQuery(Theme.$SmPhoneViewport) {
    &:hover {
      scale: 1;
    }
    &:active {
      scale: 0.95;
    }
  }
}
