@use "@styles/_theme.module.scss" as Theme;

div.container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  div.sideText-container {
    display: flex;
    flex: 1 1 0%;
  }
  @include Theme.mediaQuery(Theme.$tabletViewport) {
    flex-direction: column;
  }
}

.link {
  border-radius: 100%;
  margin-bottom: Theme.$spaceBetweenElements;
}

.side-text-container {
  display: flex;
  flex: 1 1 0%;
  //div:nth-child(3) {
  //  @include Theme.mediaQuery(Theme.$tabletViewport) {
  //    max-width: 100%;
  //  }
  //}
}

.image {
  margin: Theme.$spaceBetweenElements 0;
  border-radius: 100%;
  @include Theme.setBoxShadow(black);
  &:hover {
    scale: Theme.$scaleOnHover;
  }
  &:active {
    scale: 1;
    box-shadow: unset;
  }
  transition-property: scale, box-shadow;
  transition-duration: #{Theme.$transitionShort}s;
  @include Theme.mediaQuery(Theme.$tabletViewport) {
    width: 100%;
    height: auto;
    max-width: Theme.$Headshots_Sm;
  }
  @include Theme.mediaQuery(Theme.$SmPhoneViewport) {
    &:hover {
      scale: 1;
    }
    &:active {
      scale: 0.95;
    }
  }
}
