@use "@styles/_theme.module.scss" as Theme;
.text {
  display: inline-flex;
  height: 1em;
  margin-top: 0.5em;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap-reverse;
  .cherry {
    position: relative;
    width: 1em !important;
    height: 1em !important;
    margin-left: 0.6ch;
    border-radius: 100%;
  }
}
