@use "@styles/_theme.module.scss" as Theme;
.svg {
  position: absolute;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  width: fit-content;
  position: relative;
  transition: all #{Theme.$transitionShort}s;
  border-radius: Theme.$buttonRadius;
  @include Theme.imageHover(Theme.$darkPrimary);
}
