@use "@styles/_theme.module.scss" as Theme;

p.construction-doodle {
  margin: 2rem 0;
}
a.construction-doodle {
  text-align: center;
  box-sizing: content-box;
  background-color: Theme.$tertiaryCherry;
  border: 5px solid Theme.$tertiaryCherry;
  border-radius: Theme.$buttonRadius;
  text-decoration: none;
  color: Theme.$white;
  cursor: pointer;
  font-size: 1rem;
  margin: 1rem;
  padding: 1.5rem 2rem;
  &:hover {
    background-color: Theme.$lightTertiaryCherry;
    border: 5px solid Theme.$tertiaryCherry;
    color: Theme.$darkTertiaryCherry;
    &:active {
      background-color: Theme.$darkTertiaryCherry;
      border: 5px solid Theme.$tertiaryCherry;
      color: Theme.$lightTertiaryCherry;
    }
  }
}
