@use "@styles/dog-about.module.scss";
@use "@styles/_theme.module.scss" as Theme;

.partnerBreeder {
  color: Theme.$darkPrimary;
}

.puppyLink {
  position: relative;
}

.availabilityIcon {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 3em;
  height: 3em;
}
