@use "@styles/dog-about.module.scss";
@use "@styles/_theme.module.scss" as Theme;

.partnerBreeder {
  color: Theme.$darkPrimary;
}

.puppyLink {
  position: relative;
}

.availabilityIcon {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 3em;
  height: 3em;
}

.litter-title {
  margin: Theme.$spaceBetweenElements;
}

.currentLitter {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: Theme.$spaceBetweenElements + Theme.$outlineWidth;
  margin-top: Theme.$spaceBetweenElements + Theme.$outlineWidth;
}

.partnerPhoto{
  img:not([class^="breeder-line"]) {
    @include Theme.imageHover(Theme.$darkHeadshot, Theme.$lightHeadshot);
  }
}
