@use '../styles/theme.module.scss' as Theme;

div.dogtree-top {
  display: flex;
  & * {
    margin: Theme.$spaceBetweenElements;
  }
  img.dog-headshot {
    &.dogtree-mom{
      border: 7px solid hotpink;
    }
    &.dogtree-dad{
      border: 7px solid skyblue;
    }
  }
  div.dogtree-going-home {
    font-weight: 400;
  }
}
div.dogtree-bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  & * {
    margin: Theme.$spaceBetweenElements;
  }
  img.dogtree-puppy-group {
    width: 615px;
    height: 433px;
    border-radius: 51pt;
    object-fit: cover;
  }
  a {
    width: 100%;
  }
}
