@use "../styles/theme.module.scss" as Theme;
@use "../styles/mixins.scss" as Mixins;

// Globals{
@include Mixins.setTextValues() {
  color: Theme.$black;
}

html * {
  box-sizing: border-box; // who knows. It might be a good practice.
}

main {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

// Oreo focus for better accessibility
:focus-visible {
  outline: 9px double Theme.$secondaryGreen;
  box-shadow: 0 0 0 6px Theme.$lightSecondaryGreen !important;
  border: none !important;
  z-index: 999 !important; // Focus should be on top of everything.
}
html {
  width: fit-content;
  height: fit-content;
}

p {
  font-size: 18px;
  line-height: 1.5;
  font-weight: 400;
}

h1 {
  resize: auto;
  text-align: center;
  font-size: 51px;
  font-weight: 700;
}
h2 {
  text-align: center;
  font-size: 41px;
  font-weight: 700;
}
h3 {
  text-align: center;
  font-size: 31px;
  font-weight: 700;
}
h4 {
  text-align: left;
  font-size: 21px;
  font-weight: 700;
}
h1.title {
  font-size: 40px;
}

hr {
  width: 100%;
}

b {
  font-weight: 700;
  margin: 0 !important;
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
  &:visited {
    color: Theme.$tertiaryCherry;
  }
}

@include Mixins.setTextValues() {
  word-break: break-word;
}

footer {
  background-color: Theme.$secondaryGreen;
  p {
    color: Theme.$lightSecondaryGreen;
    text-align: center;
  }
}

// }
// vim: foldmethod=marker foldmarker={,}
