@use "@styles/_theme.module.scss" as Theme;

.groupPhoto {
  padding: Theme.$imgPad;
  margin-bottom: Theme.$spaceBetweenElements 0;
  border-radius: Theme.$buttonRadius;
  outline: Theme.$headshotOutline;
  outline-offset: -1px;

  transition: all #{Theme.$transitionShort}s;
  @include Theme.imageHover(Theme.$darkHeadshot, Theme.$lightHeadshot);
  @include Theme.mediaQuery(Theme.$LgPhoneViewport) {
    width: 100%;
    height: auto;
  }
}

.link {
  position: relative;
  height: fit-content;
  width: fit-content;
  display: block;
  &:hover {
    text-decoration: none;
  }
}

.no-photo {
  position: absolute;
  top: 85%;
  left: 0;
  font-size: 25px;
  color: Theme.$lightPrimary;
  text-align: center;
  width: 100%;
  height: 15%;
  background-color: transparentize(Theme.$darkPrimary, 0.05);
  border-radius: Theme.$buttonRadius;
}
