@use "@styles/_theme.module.scss" as Theme;

/*Large*/
.lg {
  aspect-ratio: 3/4 !important;
  max-width: Theme.$Headshots_Lg !important;
  width: Theme.$Headshots_Lg;
  height: 666px;
  object-fit: scale-down;
  border-radius: Theme.$bigButtonRadius;
  box-sizing: content-box;
  background-color: Theme.$primary;
  @include Theme.mediaQuery(Theme.$LgPhoneViewport) {
    width: Theme.$Headshots_Sm;
    height: auto;
  }
  @include Theme.mediaQuery(Theme.$SmPhoneViewport) {
    width: 100%;
    height: auto;
  }
}

/*Small*/
.sm {
  aspect-ratio: 1/1 !important;
  max-width: Theme.$Headshots_Sm !important;
  object-fit: scale-down;
  border-radius: Theme.$Headshots_SmRadius;
  cursor: pointer;
  background-color: Theme.$primary;
  transition-property: box-shadow;
  transition-duration: #{Theme.$transitionShort}s;
  &:active {
    box-shadow: none;
  }
  @include Theme.mediaQuery(Theme.$LgPhoneViewport) {
    width: Theme.$Headshots_Sm;
    height: auto;
  }
  @include Theme.mediaQuery(Theme.$SmPhoneViewport) {
    width: 100%;
    height: auto;
  }
}

.mom {
  outline: Theme.$momOutline;
  outline-offset: -1px;
  @include Theme.imageHover(Theme.$darkMom);
}

.dad {
  outline: Theme.$dadOutline;
  outline-offset: -1px;
  @include Theme.imageHover(Theme.$darkDad);
}

.unrecordedDog {
  outline: Theme.$unrecordedDogOutline;
  outline-offset: -1px;
  cursor: auto;
  box-shadow: none;
  &:active {
    box-shadow: none;
  }
}
