@mixin setTextValues() {
  p,
  h1,
  h2,
  h3,
  h4,
  li,
  th,
  tr{
    @content;
  }
}

@mixin setImageValues() {
  img,
  svg,
  video {
    @content;
  }
}

@mixin mediaQuery($breakpoint, $w: null) {
  @if ($w) {
    @media screen and (#{$w}-width: $breakpoint) {
      @content;
    }
  } @else {
    @media screen and (max-width: $breakpoint) {
      @content;
    }
  }
}

@mixin setFlex($direction: row, $justify: center, $align: center) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin setBoxShadow($color, $scale: 1px) {
  $x: calc(8px + $scale);
  $y: calc(11px + $scale);
  box-shadow: $color $x $y 15px 0px;
}

@mixin scaleOnHover($scale: 1.07){
      transition: transform 0.1s;
      &:hover {
        transform: scale($scale);
        @content
      }
}
