@use "../styles/theme.module.scss" as Theme;
@use "../styles/mixins.scss" as Mixins;

// Nav{
// Transition rules:
// 1. img positon: absolute -> relative
// 2. menu display: none -> flex
// 3. logo link flex: 1 -> 0
// 4. menu flex: 0 -> 1
.sliderMenu {
  display: flex;
  z-index: 498;
  position: fixed;
  width: 100%;
  button#title-menu-button {
    z-index: 499;
    font-size: 32px;
    background-color: Theme.$tertiaryCherry;
    height: 59px;
    border: none;
    color: Theme.$lightTertiaryCherry;
    width: 118px;
    height: 70px;
    position: absolute;
    left: Theme.$spaceBetweenElements;
    top: Theme.$spaceBetweenElements / 2;
    border-radius: 14px;
    box-shadow: Theme.$darkTertiaryCherry 9px 12px 15px 0px;
    outline: solid 4px Theme.$tertiaryCherry;
    outline-offset: -2px;
    transition: all 0.5s;
    &:hover {
      scale: 1.07;
      transition: all 0.2s;
    }
    &:active {
      box-shadow: none;
      scale: 1;
    }
  }
}
a.home-button {
  border-radius: 100%;
  background-color: white;
  margin: 0 auto;
  @include Mixins.setBoxShadow(Theme.$darkPrimary);
  transition: all 0.2s;
  &:hover {
    scale: 1.07;
  }
  &:active {
    box-shadow: none;
    scale: 0.97;
  }
}

img.logo {
  width: 150px;
  height: auto;
  margin: 0 auto;
  display: block;
  position: relative;
  @include Mixins.mediaQuery(Theme.$LgPhoneViewport) {
    width: 100%;
    max-width: 150px;
    height: auto;
    margin: 0 auto;
  }
  @include Mixins.mediaQuery(Theme.$SmPhoneViewport, 0.5px) {
    width: 100%;
    max-width: 150px;
    height: auto;
    margin: 0 auto;
  }
}
.menu {
  background-color: Theme.$tertiaryCherry;
  height: 60px;
  font-size: 31px;
  width: 0;
  overflow: hidden;
  z-index: 497;
}
.link {
  text-decoration: none;
  margin: 1rem;
  color: Theme.$lightTertiaryCherry;
  white-space: nowrap;
}

.link:nth-child(1) {
  margin-left: 180px;
}
@include Mixins.mediaQuery(445px) {
  .home-button,
  .logo {
    display: none;
    box-shadow: none;
  }
  .menu {
    display: grid;
  }
  .link:nth-child(1) {
    margin-left: 1rem;
    margin-top: 120px;
  }
}

//@include Mixins.mediaQuery(Theme.$LgPhoneViewport) {
//  .site-name {
//    display: none;
//  }
//}
