@use "@styles/_theme.module.scss" as Theme;

$menu-height: 140;
$menu-button-height: 60px;
$mobile-view-reduction: 20px;
$fontSize: Theme.$h3;
.nav {
  height: #{$menu-height}px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 497;
  position: fixed;
  top: 0;
  width: 0;
  padding-top: calc(Theme.$spaceBetweenElements / 2);
  contain: style size layout;
  @include Theme.mediaQuery(Theme.$LgPhoneViewport) {
    top: auto; // Sets the entire nav to the bottom of the screen.
    bottom: 0; // Better UX for mobile menus
    height: calc(#{$menu-height}px + 3em);
  }
}

.submenu {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  width: fit-content;
  position: relative;
  top: calc(#{$menu-height}px / 2);
  overflow: visible;
  overscroll-behavior: contain;
  background-color: Theme.$tertiaryCherry;
  border-radius: Theme.$buttonRadius;
  padding: 1em 1em 0.5em 1em;
  overflow: visible;
  @include Theme.mediaQuery(Theme.$LgPhoneViewport) {
    top: 0;
    overflow: scroll;
    width: 100%;
  }
  .back {
    font-weight: 700;
    font-size: Theme.$h4;
    border: none;
    &:hover {
      border: none;
    }
  }
}

.litters-submenu {
  align-items: flex-start;
}
.mothers-submenu {
  align-items: center;
}

button#title-menu-button {
  position: absolute;
  left: 30px;
  $marginBottom: #{calc(Theme.$boxShadowY + Theme.$boxShadowBlur / 2)}px;
  height: $menu-button-height;
  padding: 0 1em;
  margin-bottom: $marginBottom;
  z-index: 499;
  border: none;
  border-radius: Theme.$buttonRadius;
  background-color: Theme.$tertiaryCherry;
  color: Theme.$lightTertiaryCherry;
  font: inherit;
  font-size: $fontSize;
  outline: solid 2px Theme.$tertiaryCherry;
  outline-offset: -1px;
  cursor: pointer;
  transition: all #{Theme.$transitionShort}s;
  &:hover {
    background-color: Theme.$lightTertiaryCherry;
    color: Theme.$tertiaryCherry;
    scale: Theme.$scaleOnHover;
    outline: solid 2px Theme.$lightTertiaryCherry;
  }
  &:active {
    box-shadow: none;
    scale: 1;
  }
  @include Theme.mediaQuery(Theme.$LgPhoneViewport) {
    top: 50%;
    height: calc($menu-button-height - $mobile-view-reduction);
    font-size: calc($fontSize - $mobile-view-reduction / 2);
    border-radius: Theme.$smallButtonRadius;
  }
}

.menu {
  display: none;
  flex-wrap: nowrap;
  width: 0;
  height: 100%;
  gap: 0.5em;
  justify-content: center;
  overflow: visible;
  overscroll-behavior: contain;
  background-color: Theme.$tertiaryCherry;
  z-index: 498;
  @include Theme.mediaQuery(Theme.$LgPhoneViewport) {
    overflow: scroll;
    flex-wrap: wrap;
  }
  @media screen and (pointer: coarse) {
    gap: 0.5em;
  }
}

.menu-item,
.submenu-item {
  padding: 0.5em 1em;
  text-align: center;
  color: Theme.$lightTertiaryCherry;
  background-color: Theme.$tertiaryCherry;
  border: none;
  border-radius: Theme.$buttonRadius;
  font-family: inherit;
  font-size: Theme.$h3;
  line-height: 1.1em;
  cursor: pointer;
  transition: all #{Theme.$transitionShort}s;
  list-style: none;
  white-space: nowrap;
  text-decoration: none;
  &:hover {
    color: Theme.$tertiaryCherry;
    background-color: Theme.$lightTertiaryCherry;
    text-decoration: none;
  }
  &:active {
    color: Theme.$lightTertiaryCherry;
    background-color: Theme.$darkTertiaryCherry;
    text-decoration: none;
  }
  &:visited {
    color: Theme.$lightTertiaryCherry;
    background-color: Theme.$darkTertiaryCherry;
    text-decoration: none;
  }
  @include Theme.mediaQuery(Theme.$SmPhoneViewport) {
    font-size: Theme.$h4;
  }
}

.submenu-item {
  white-space: break-spaces;
}

:export {
  menuHeight: $menu-height;
  menuButtonHeight: $menu-button-height;
}
