@use "@styles/theme.module.scss" as Theme;
@use "@styles/mixins.scss" as Mixins;
@use "@styles/dog-about.module.scss";
@use "@styles/root-layout.module.scss";

@include Mixins.mediaQuery(Theme.$watchViewport) {
  .partnerData,
  .dogTitle,
  .mainDog,
  .partnerVisuals {
    margin: 2px;
    padding: 2px;
  }
}

.attentionGetter {
  @extend .attentionGetter;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dogName {
  display: inline-grid;
  height: 1em;
  line-height: 1.25em;
  width: 100%;
  align-items: center;
  justify-items: center;
  text-align: center;
  flex-wrap: wrap-reverse;
  margin-bottom: 1.4rem;
}
@include Mixins.mediaQuery(Theme.$SmPhoneViewport) {
  .dogName {
    margin-bottom: 0;
    svg {
      display: none;
    }
  }
}

.availability {
  font-size: 10vw;
  margin-top: 2rem;
}
@include Mixins.mediaQuery(Theme.$LgPhoneViewport) {
  .availability {
    font-size: Theme.$h2;
  }
}

// This css rule is not used in the project but is included for demonstration purposes
// It is not included in the final output
// it demonstrates how to create cSS rules that make viewing tables easier on small screens:

.dogTable {
  @extend .dogInfoList;
  max-width: 100%;
  height: fit-content;
  margin-left: unset;
  thead {
    font-weight: 700;
    text-align: center;
  }
  .col1 {
    width: 40%;
  }
  .col2 {
    width: 60%;
  }
  & * {
    color: Theme.$lightPrimary;
  }
}

@include Mixins.mediaQuery(Theme.$LgPhoneViewport) {
  .dogTable {
    display: block;
    width: 100%;
    margin: 0 auto;
    thead {
      margin-top: 1rem;
    }
    td {
      display: block;
      margin: 0 auto;
      width: 100%;
      text-align: center;
      padding: 0.5rem;
    }
    tr {
      display: block;
      width: 100%;
      height: fit-content;
      text-align: center;
      padding: 0.5rem;
    }
    .col1,
    .col2 {
      display: block;
      width: 100%;
      height: fit-content;
      text-align: center;
      padding: 0.5rem;
      &:nth-child(even) {
        height: 1em;
      }
    }
  }
}

.familyData {
  @extend .partnerData;
  margin-top: unset;
}

.partnerVisuals {
  @extend .partnerVisuals;
}

.parentsLine {
  font-size: Theme.$h2;
  color: Theme.$lightSecondaryGreen;
}

.breederLine {
  color: Theme.$lightPrimary;
}

#Headshots_Lg {
  @extend #Headshots_Lg;
}

#Headshots_Sm {
  @extend #Headshots_Sm;
  margin-top: Theme.$spaceBetweenElements;
  margin-bottom: Theme.$spaceBetweenElements;
}
