@use "@styles/_theme.module.scss" as Theme;
@use "@styles/dog-about.module.scss";
@use "@styles/root-layout.module.scss";

@include Theme.mediaQuery(Theme.$watchViewport) {
  .partnerData,
  .dogTitle,
  .mainDog,
  .partnerVisuals {
    margin: 2px;
    padding: 2px;
  }
}

.dogTitle {
  @extend .dogTitle;
  margin: 0;
  padding: 0;
  width: 100%;
}

.attentionGetter {
  @extend .attentionGetter;
  display: flex;
  flex-direction: column;
  align-items: center;
}

$dogNameMarginBottom: -2.4rem;
.dogName {
  display: inline-grid;
  height: fit-content;
  line-height: 1.3em;
  width: 100%;
  align-items: center;
  justify-items: center;
  text-align: center;
  flex-wrap: wrap-reverse;
  margin-bottom: $dogNameMarginBottom;
  font-size: Theme.$h2;
  font-weight: 400;
  @include Theme.mediaQuery(Theme.$tabletViewport) {
    font-size: 5vw;
  }
  @include Theme.mediaQuery(Theme.$LgPhoneViewport) {
    margin-bottom: calc($dogNameMarginBottom / 2);
    font-size: 7vw;
  }
  @include Theme.mediaQuery(Theme.$SmPhoneViewport) {
    font-size: 10vw;
  }
}

.availability {
  $margin: 2rem;
  font-size: Theme.$h1;
  margin: $margin;
  @include Theme.mediaQuery(Theme.$tabletViewport) {
    font-size: 61px; // Magic Number since the width of the characters is known always.
  }
  @include Theme.mediaQuery(Theme.$LgPhoneViewport) {
    margin: calc($margin / 2);
  }
  @include Theme.mediaQuery(Theme.$SmPhoneViewport) {
    font-size: 15vw;
  }
}

// This css rule is not used in the project but is included for demonstration purposes
// It is not included in the final output
// it demonstrates how to create cSS rules that make viewing tables easier on small screens:

.dogTable {
  @extend .dogInfoList;
  max-width: 100%;
  height: fit-content;
  margin-left: unset;
  thead {
    font-weight: 700;
    text-align: center;
  }
  .col1 {
    width: 40%;
  }
  .col2 {
    width: 60%;
  }
  & * {
    color: Theme.$lightPrimary;
  }
}

.familyData {
  @extend .partnerData;
  margin-top: unset;
}

.partnerVisuals {
  @extend .partnerVisuals;
  margin: 0;
}

.parentsLine {
  display: block;
  font-size: Theme.$h2;
  color: Theme.$lightSecondaryGreen;
}

.breederLine {
  color: Theme.$lightPrimary;
}

#Headshots_Lg {
  @extend #Headshots_Lg;
  margin-bottom: Theme.$spaceBetweenElements;
}

#Headshots_Sm {
  @extend #Headshots_Sm;
  margin-top: Theme.$spaceBetweenElements;
  margin-bottom: Theme.$spaceBetweenElements;
}
