@use "@styles/puppy.module.scss" as ParentCSS;
@use "@styles/_mixins.scss" as Mixins;
@use "@styles/_theme.module.scss" as Theme;

.familyData {
  margin: 0;
  padding: 0;
}

.parentsLine {
  display: none;
}

@include Mixins.mediaQuery(Theme.$LgPhoneViewport) {
  .dogName {
    margin-bottom: calc(ParentCSS.$dogNameMarginBottom / 2);
    font-size: 7vw;
  }
  .availability {
    margin: 0;
    font-size: 14vw;
  }
}
