@use "@styles/_theme.module.scss" as Theme;

.puppy-stats {
  display: flex;
  p {
    line-height: 1em;
    padding: 0.5em;
    font-weight: 700;
    margin-bottom: 0;
  }
  span {
    font-weight: 400;
  }
}

.available {
  background: Theme.$secondaryGreen;
  color: Theme.$lightSecondaryGreen;
  border-top-left-radius: 0.5em;
  border-bottom-left-radius: 0.5em;
  &::before {
    content: "Available: ";
    @include Theme.mediaQuery(Theme.$SmPhoneViewport) {
      content: "Avail: ";
    }
    @include Theme.mediaQuery(Theme.$microViewport) {
      content: "";
    }
  }
}

.unavailable {
  background: Theme.$tertiaryCherry;
  color: Theme.$lightTertiaryCherry;
  border-top-right-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
  &::before {
    content: "Unavailable: ";
    @include Theme.mediaQuery(Theme.$SmPhoneViewport) {
      content: "Unavail: ";
    }
    @include Theme.mediaQuery(Theme.$microViewport) {
      content: "";
    }
  }
}

.watching {
  display: block;
  margin: 0 auto;
  text-align: center;
  background: Theme.$primary;
  color: Theme.$lightPrimary;
  border-bottom-right-radius: 0.5em;
  max-width: 66%;
  border-bottom-left-radius: 0.5em;

  &::before {
    content: "Watching: ";
    @include Theme.mediaQuery(Theme.$SmPhoneViewport) {
      content: "Watch: ";
    }
    @include Theme.mediaQuery(Theme.$microViewport) {
      content: "";
    }
  }
}
