@use "@styles/puppy.module.scss" as ParentCSS;
@use "@styles/_theme.module.scss" as Theme;

.familyData {
  margin: 0;
}

.parentsLine {
  display: none;
}

.dogTitle {
  h1,
  h2 {
    color: Theme.$lightPrimary;
  }
}

@include Theme.mediaQuery(Theme.$LgPhoneViewport) {
  .dogName {
    margin-bottom: calc(ParentCSS.$dogNameMarginBottom / 2);
    font-size: 7vw;
  }
  .availability {
    margin: 0;
    font-size: 14vw;
  }
}
