@use "../styles/theme.module.scss" as Theme;
@use "../styles/mixins.scss" as Mixins;

// All layouts
@mixin all-layouts() {
  display: flex;
  flex-basis: 0;
  .right-flex,
  .left-flex {
    flex: 1 1 0;
  }
  .content-box {
    flex: 0 1 Theme.$tabletViewport;
    display: flex;
    flex-direction: column;
    align-items: center;
    // Do not Add:
    // padding;
    // margin;
  }
  @include Mixins.mediaQuery(Theme.$tabletViewport) {
    .content-box {
      flex: 0 1 Theme.$LgPhoneViewport;
    }
  }

  @include Mixins.mediaQuery(Theme.$LgPhoneViewport) {
    .content-box {
      flex: 0 1 Theme.$SmPhoneViewport;
    }
  }

  @include Mixins.mediaQuery(Theme.$SmPhoneViewport) {
    display: block;
    width: fit-content;
  }
  @include Mixins.mediaQuery(Theme.$microViewport) {
    @include Mixins.setImageValues() {
      width: 100%;
      height: auto;
    }
    @include Mixins.setTextValues() {
      line-break: anywhere;
    }
  }
}

.white-layout {
  @include all-layouts;
  flex: 1 1;
  padding: 100px 0;
  background-color: white;
}

.wood-layout {
  @include all-layouts;
  flex: 2 2;
  padding: 100px 0;
  background-color: Theme.$darkPrimary;
  background-position: center;
  background-size: cover;
  @include Mixins.setTextValues() {
    color: Theme.$lightPrimary;
  }
}

.tan-layout {
  @include all-layouts;
  flex: 1 1;
  padding: 100px 0;
  background-color: Theme.$lightPrimary;
}
