@use "../styles/theme.module.scss" as Theme;
@use "../styles/mixins.scss" as Mixins;

main {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

// All layouts
div[class$="-layout"] {
  display: flex;
  flex-basis: 0;
  div.right-flex,
  div.left-flex {
    flex: 1 1 0;
  }
  div.content-box {
    flex: 0 1 Theme.$tabletViewport;
    display: flex;
    flex-direction: column;
    align-items: center;
    // Do not Add:
    // padding;
    // margin;
  }
  @include Mixins.mediaQuery(Theme.$tabletViewport) {
    div.content-box {
      flex: 0 1 Theme.$LgPhoneViewport;
    }
  }

  @include Mixins.mediaQuery(Theme.$LgPhoneViewport) {
    div.content-box {
      flex: 0 1 Theme.$SmPhoneViewport;
    }
  }

  @include Mixins.mediaQuery(Theme.$SmPhoneViewport) {
    display: block;
    width: fit-content;
  }
  @include Mixins.mediaQuery(Theme.$microViewport) {
    @include Mixins.setImageValues() {
      width: 100%;
      height: auto;
    }
    @include Mixins.setTextValues() {
      line-break: anywhere;
    }
  }
}

div.white-layout {
  flex: 1 1;
  padding: 100px 0;
  background-color: white;
}

div.wood-layout {
  flex: 2 2;
  padding: 100px 0;
  background-color: Theme.$darkPrimary;
  background-position: center;
  background-size: cover;
  @include Mixins.setTextValues() {
    color: Theme.$lightPrimary;
  }
}

div.tan-layout {
  flex: 1 1;
  padding: 100px 0;
  background-color: Theme.$lightPrimary;
}
