@use "../styles/mixins" as Mixins;
@use "../styles/theme.module.scss" as Theme;

.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: Theme.$buttonRadius;
  margin-bottom: Theme.$spaceBetweenElements;
  @include Mixins.mediaQuery(Theme.$LgPhoneViewport) {
    flex-direction: column;
  }
}
.selectorButton {
  $darkenedPrimary: darken(Theme.$darkPrimary, 4%);
  @include Mixins.setBoxShadow($darkenedPrimary, 1px);
  border: none;
  z-index: 1;
  width: 100%;
  flex: auto;
  background-color: Theme.$primary;
  cursor: pointer;
  transition: box-shadow 0.1s;
  transition-property: box-shadow, transform, background-color;
  outline: 2px solid Theme.$primary;
  outline-offset: -1px;
  h2 {
    color: Theme.$lightPrimary;
    font-weight: 400;
  }
  &:hover {
    @include Mixins.scaleOnHover(1.04);
    z-index: 2;
    &:active {
      box-shadow: unset;
      transform: scale(1);
    }
  }
}
.selected {
  $scale: 0.976;
  border: unset;
  box-shadow: unset;
  outline: 2px solid Theme.$darkPrimary;
  cursor: unset;
  background-color: Theme.$darkPrimary;
  transform: scale($scale) !important;
  z-index: 0;
  h2 {
    color: Theme.$lightPrimary;
    font-weight: 400;
  }
  &:hover {
    transform: scale($scale) !important;
    &:active {
      box-shadow: unset;
    }
  }
}
