@use "@styles/_theme.module.scss" as Theme;

.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: Theme.$spaceBetweenElements;
  @include Theme.mediaQuery(Theme.$tabletViewport) {
    flex-direction: column;
  }
}
.selectorButton,
.selected {
  z-index: 1;
  width: 100%;
  flex: auto;
  cursor: pointer;
  color: Theme.$darkPrimary;
  font-family: inherit;
  font-size: Theme.$h3;
  font-weight: 400;
  transition-duration: #{Theme.$transitionShort}s;
  transition-property: background-color, border;
  @include Theme.basicButton(
    $bg: Theme.$lightPrimary,
    $fg: Theme.$darkPrimary
  ) {
    border: 5px solid Theme.$darkPrimary;
    background-color: Theme.$white;
    &:hover {
      background-color: Theme.$darkPrimary;
      color: Theme.$lightPrimary;
      border: 5px solid Theme.$darkPrimary;
      &:active {
        background-color: Theme.$primary;
        border: 5px solid Theme.$primary;
      }
    }
    &:active {
      background-color: Theme.$primary;
      border: 5px solid Theme.$primary;
    }
  }
  &:hover {
    background-color: Theme.$darkPrimary;
    color: Theme.$lightPrimary;
  }
}
.selected {
  background-color: Theme.$darkPrimary;
  z-index: 0;
  @include Theme.basicButton(
    $bg: Theme.$darkPrimary,
    $fg: Theme.$darkPrimary,
    $text: Theme.$lightPrimary
  ) {
    &:hover {
      background-color: Theme.$darkPrimary;
      color: Theme.$lightPrimary;
    }
  }
}
