@use "../styles/mixins.scss" as Mixins;

// Colors
$lightPrimary: #e8d8ca;
$primary: #875122;
$darkPrimary: #5e3918;

$lightSecondaryGreen: #d3e8ca;
$secondaryGreen: #426932;
$darkSecondaryGreen: #2e4922;

$lightTertiaryCherry: #ffc9d8;
$tertiaryCherry: #b81641;
$darkTertiaryCherry: #850829;

$lightAccentBlue: #bbe1f2;
$accentBlue: #124559;

$lightMom: $lightTertiaryCherry;
$lightDad: $lightAccentBlue;
$darkMom: $tertiaryCherry;
$darkDad: $accentBlue;

$outlineWidth: 9px;
$momOutline: $outlineWidth solid $lightMom;
$dadOutline: $outlineWidth solid $lightDad;
$momShadow: 0 0 0 calc($outlineWidth * 0.667) $lightTertiaryCherry;
$dadShadow: 0 0 0 calc($outlineWidth * 0.667) $lightAccentBlue;

$black: #333;

// Sizing
$tabletViewport: 1200px;
$phoneViewport: 750px;
$microViewport: 300px;

// Spacing
$spaceBetweenElements: 30px;

//Etc
$buttonRadius: 0.875rem; // 14px
$bigButtonRadius: 2rem; // 32px
$Headshots_LgRadius: 3.1875rem; // 51px
$Headshots_SmRadius: 100%;
$Headshots_Sm: 292px;
$Headshots_Lg: 500px;
$Group_Photos: 600px;

// Fonts
$h1: 51px;
$h2: calc(51px - 10px);
$h3: calc(51px - 20px);
$h4: calc(51px - 30px);

img.headshot {
  @mixin momOrDad {
    &.mom {
      outline: $momOutline;
      margin: $outlineWidth;
    }
    &.dad {
      outline: $dadOutline;
      margin: $outlineWidth;
    }
  }

  /*Large*/
  //prettier-ignore
  &Lg {
    aspect-ratio: 3/4        !important;
    max-width: $Headshots_Lg !important;
    width: 500px;
    height: 666px;
    object-fit: scale-down;
    border-radius: $bigButtonRadius;
    @include momOrDad;
    @include Mixins.mediaQuery($phoneViewport) {
      width: 292px;
      height: auto;
    }
    @include Mixins.mediaQuery($microViewport) {
      width: 100%;
      height: auto;
    }
  }

  /*Small*/
  //prettier-ignore
  &Sm {
    aspect-ratio: 1/1        !important;
    max-width: $Headshots_Sm !important;
    object-fit: scale-down;
    border-radius: $Headshots_SmRadius;
    transition: all 0.3s;
    cursor: pointer;
    &:hover {
      transform: scale(1.05);
    }
    @include momOrDad;
    @include Mixins.mediaQuery($phoneViewport) {
      width: 100%;
      height: auto;
    }
    @include Mixins.mediaQuery($microViewport) {
      width: 100%;
      height: auto;
    }
  }
}

@include Mixins.mediaQuery($tabletViewport, min) {
  .desktopOnly {
    display: block;
  }
  .tabletOnly {
    display: none;
  }
  .phoneOnly {
    display: none;
  }
  .mobileOnly {
    display: none;
  }
}
@include Mixins.mediaQuery($tabletViewport) {
  .desktopOnly {
    display: none;
  }
  .tabletOnly {
    display: block;
  }
  .phoneOnly {
    display: none;
  }
  .mobileOnly {
    display: block;
  }
}
@include Mixins.mediaQuery($phoneViewport) {
  .desktopOnly {
    display: none;
  }
  .tabletOnly {
    display: none;
  }
  .phoneOnly {
    display: block;
  }
  .mobileOnly {
    display: block;
  }
}
@include Mixins.mediaQuery($microViewport) {
  .desktopOnly {
    display: none;
  }
  .tabletOnly {
    display: none;
  }
  .phoneOnly {
    display: block;
  }
  .mobileOnly {
    display: block;
  }
}

// Vim macro for formatting variable names:
// veyf:lvf;hpj0
:export {
  lightPrimary: $lightPrimary;
  primary: $primary;
  darkPrimary: $darkPrimary;
  lightSecondaryGreen: $lightSecondaryGreen;
  secondaryGreen: $secondaryGreen;
  darkSecondaryGreen: $darkSecondaryGreen;
  lightTertiaryCherry: $lightTertiaryCherry;
  tertiaryCherry: $tertiaryCherry;
  darkTertiaryCherry: $darkTertiaryCherry;
  lightAccentBlue: $lightAccentBlue;
  accentBlue: $accentBlue;
  lightMom: $lightMom;
  lightDad: $lightDad;
  darkMom: $darkMom;
  darkDad: $darkDad;
  outlineWidth: $outlineWidth;
  momOutline: $momOutline;
  momShadow: $momShadow;
  dadOutline: $dadOutline;
  dadShadow: $dadShadow;
  black: $black;
  tabletViewport: $tabletViewport;
  phoneViewport: $phoneViewport;
  microViewport: $microViewport;
  spaceBetweenElements: $spaceBetweenElements;
  buttonRadius: $buttonRadius; // 14px
  bigButtonRadius: $bigButtonRadius; // 32px
  Headshots_LgRadius: $Headshots_LgRadius; // 51px
  Headshots_SmRadius: $Headshots_SmRadius;
  Headshots_Sm: $Headshots_Sm;
  Headshots_Lg: $Headshots_Lg;
  h1: $h1;
  h2: $h2;
  h3: $h3;
  h4: $h4;
}
