@use "../styles/mixins.scss" as Mixins;

// Colors
$lightPrimary: #e8d8ca;
$primary: #875122;
$darkPrimary: #5e3918;

$lightSecondaryGreen: #d3e8ca;
$secondaryGreen: #426932;
$darkSecondaryGreen: #2e4922;

$lightTertiaryCherry: #ffc9d8;
$tertiaryCherry: #b81641;
$darkTertiaryCherry: #850829;

$lightAccentBlue: #bbe1f2;
$accentBlue: #124559;

$lightMom: $lightTertiaryCherry;
$lightDad: $lightAccentBlue;
$darkMom: $tertiaryCherry;
$darkDad: $accentBlue;

$outlineWidth: 9px;
$momOutline: $outlineWidth solid $lightMom;
$dadOutline: $outlineWidth solid $lightDad;
$momShadow: 0 0 0 calc($outlineWidth * 0.667) $lightTertiaryCherry;
$dadShadow: 0 0 0 calc($outlineWidth * 0.667) $lightAccentBlue;

$black: #333;

// Sizing
$tabletViewport: 1200px;
$LgPhoneViewport: 750px;
$SmPhoneViewport: 390px;
$microViewport: 300px;
// Smallest allowable width is currently 96px

// Spacing
$spaceBetweenElements: 30px;

//Etc
$buttonRadius: 0.875rem; // 14px
$bigButtonRadius: 2rem; // 32px
$Headshots_LgRadius: 3.1875rem; // 51px
$Headshots_SmRadius: 100%;
$Headshots_Sm: 292px;
$Headshots_Lg: 500px;
$Group_Photos: 600px;

// Fonts
$h1: 51px;
$h2: calc(51px - 10px);
$h3: calc(51px - 20px);
$h4: calc(51px - 30px);

.woodgrain {
  background-size: cover;
  background-position: center;
  background-image: url("~/public/images/woodgrain-dark.svg");
  &-light {
    background-image: url("~/public/images/woodgrain-light.svg");
  }
}

img.headshot {
  @mixin momOrDad {
    &.mom {
      border: $momOutline;
    }
    &.dad {
      border: $dadOutline;
    }
  }

  /*Large*/
  &Lg {
    aspect-ratio: 3/4 !important;
    max-width: $Headshots_Lg !important;
    width: $Headshots_Lg;
    height: 666px;
    object-fit: scale-down;
    border-radius: $bigButtonRadius;
    box-sizing: content-box;
    @include momOrDad;
    @include Mixins.mediaQuery($LgPhoneViewport) {
      width: $Headshots_Sm;
      height: auto;
    }
    @include Mixins.mediaQuery($SmPhoneViewport) {
      width: 100%;
      height: auto;
    }
  }

  /*Small*/
  &Sm {
    aspect-ratio: 1/1 !important;
    max-width: $Headshots_Sm !important;
    object-fit: scale-down;
    border-radius: $Headshots_SmRadius;
    cursor: pointer;
    @include Mixins.temporaryScaleOnHover(){
      // additional rules?
    }
    @include momOrDad;
    @include Mixins.mediaQuery($LgPhoneViewport) {
      width: $Headshots_Sm;
      height: auto;
    }
    @include Mixins.mediaQuery($SmPhoneViewport) {
      width: 100%;
      height: auto;
    }
  }
}

@include Mixins.mediaQuery($tabletViewport, min) {
  .desktopOnly {
    display: block;
  }
  .tabletOnly {
    display: none;
  }
  .phoneOnly {
    display: none;
  }
  .mobileOnly {
    display: none;
  }
}
@include Mixins.mediaQuery($tabletViewport) {
  .desktopOnly {
    display: none;
  }
  .tabletOnly {
    display: block;
  }
  .phoneOnly {
    display: none;
  }
  .mobileOnly {
    display: block;
  }
}
@include Mixins.mediaQuery($LgPhoneViewport) {
  .desktopOnly {
    display: none;
  }
  .tabletOnly {
    display: none;
  }
  .phoneOnly {
    display: block;
  }
  .mobileOnly {
    display: block;
  }
}
@include Mixins.mediaQuery($SmPhoneViewport) {
  .desktopOnly {
    display: none;
  }
  .tabletOnly {
    display: none;
  }
  .phoneOnly {
    display: block;
  }
  .mobileOnly {
    display: block;
  }
}

// Vim macro for formatting variable names:
// veyf:lvf;hpj0
:export {
  Group_Photos: $Group_Photos;
  Headshots_Lg: $Headshots_Lg;
  Headshots_LgRadius: $Headshots_LgRadius; // 51px
  Headshots_Sm: $Headshots_Sm;
  Headshots_SmRadius: $Headshots_SmRadius;
  LgPhoneViewport: $LgPhoneViewport;
  SmPhoneViewport: $SmPhoneViewport;
  accentBlue: $accentBlue;
  bigButtonRadius: $bigButtonRadius; // 32px
  black: $black;
  buttonRadius: $buttonRadius; // 14px
  dadOutline: $dadOutline;
  dadShadow: $dadShadow;
  darkDad: $darkDad;
  darkMom: $darkMom;
  darkPrimary: $darkPrimary;
  darkSecondaryGreen: $darkSecondaryGreen;
  darkTertiaryCherry: $darkTertiaryCherry;
  h1: $h1;
  h2: $h2;
  h3: $h3;
  h4: $h4;
  lightAccentBlue: $lightAccentBlue;
  lightDad: $lightDad;
  lightMom: $lightMom;
  lightPrimary: $lightPrimary;
  lightSecondaryGreen: $lightSecondaryGreen;
  lightTertiaryCherry: $lightTertiaryCherry;
  microViewport: $microViewport;
  momOutline: $momOutline;
  momShadow: $momShadow;
  outlineWidth: $outlineWidth;
  primary: $primary;
  secondaryGreen: $secondaryGreen;
  spaceBetweenElements: $spaceBetweenElements;
  tabletViewport: $tabletViewport;
  tertiaryCherry: $tertiaryCherry;
}
