@use "@styles/_theme.module.scss" as Theme;

.contact-link {
  display: block;
  text-align: center;
  // The following properties are shared by all buttons and links.
  color: Theme.$darkSecondaryGreen;
  cursor: pointer;
  font-size: Theme.$h3;
  line-height: 1.5;
  margin: Theme.$spaceBetweenElements auto;
  width: fit-content;
  padding: 0.5rem 1rem;
  text-align: center;
  text-decoration: none;
  transition: background-color Theme.$transitionShort;
  white-space: nowrap;
  // The following properties are specific to the contact link.
  @include Theme.basicBorder(Theme.$secondaryGreen);
  &:hover {
    text-decoration: none;
    background-color: Theme.$secondaryGreen;
    color: Theme.$lightPrimary;
  }
  &:active {
    text-decoration: none;
    background-color: Theme.$lightPrimary;
    color: Theme.$darkSecondaryGreen;
  }
}
