@use "@styles/_theme.module.scss" as Theme;

.contact-link {
  display: flex;
  justify-content: center;
  align-content: center;
  // The following properties are shared by all buttons and links.
  border: 2px solid Theme.$secondaryGreen;
  border-radius: Theme.$buttonRadius;
  color: Theme.$darkSecondaryGreen;
  cursor: pointer;
  font-size: Theme.$h3;
  line-height: 1.5;
  margin-top: Theme.$spaceBetweenElements;
  padding: 0.5rem 1rem;
  text-align: center;
  text-decoration: none;
  transition: background-color Theme.$transitionShort;
  white-space: nowrap;

  // The following properties are specific to the contact link.
  background-color: Theme.$lightPrimary;
  &:hover {
    text-decoration: none;
    background-color: Theme.$darkSecondaryGreen;
    color: Theme.$lightPrimary;
  }
  &:active {
    text-decoration: none;
    background-color: Theme.$lightPrimary;
    color: Theme.$darkSecondaryGreen;
  }
}
