@use "@styles/mixins.scss" as Mixins;
@use "@styles/theme.module.scss" as Theme;

.litter-currentLitter {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: Theme.$spaceBetweenElements + Theme.$outlineWidth;
  margin-top: Theme.$spaceBetweenElements + Theme.$outlineWidth;
}
h1.litter-title {
  margin: Theme.$spaceBetweenElements;
}
