@use "@styles/_theme.module.scss" as Theme;

.about {
  h1:not(:first-child) {
    margin-top: 200px;
  }
}

.attention-getter-image {
  flex-direction: column;
  img {
    cursor: auto;
    background-color: transparent;
    outline: none;
    &:hover {
      transform: none;
      background-color: transparent;
      outline: none;
      scale: none;
    }
    &:active {
      transform: none;
      background-color: transparent;
      outline: none;
    }
  }
}

.disclaimer {
  &:first-of-type {
    margin-top: 3em;
  }
  font-size: 0.8rem;
}
